
#TOC > ul.tocify-header > li:first-child {
  text-indent: initial;
  padding-left: 1em;
}

#TOC ul.tocify-subheader[data-tag="2"] > li.tocify-item {
  text-indent: initial;
  padding-left: 2em;
}

#TOC ul.tocify-subheader[data-tag="3"] > li.tocify-item {
  text-indent: initial;
  padding-left: 3em;
}

#TOC ul.tocify-subheader[data-tag="4"] > li.tocify-item {
  text-indent: initial;
  padding-left: 4em;
}
